@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



:root{
    --blue:#289BDE;
    --hover-blue: #147fbc;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* Global  */

.section{
    margin-top: 130px;
}
h1{
    font-size: 45px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 16px;
    line-height: 30px;
}

h6{
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
}

h3{
    font-size: 25px;
    font-weight: 600;

}
.pro-edu-btn{
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 7px 20px;
    /* border-radius: 5px; */
}
.pro-edu-btn:hover{
    color: white;
    background-color: var(--blue)
}

.filled{
    color: white;
    background-color: var(--blue)
}
.filled:hover{
    color: white;
    background-color: var(--hover-blue)
}

/* Caruosal styl  */


.c-img{
    filter: brightness(.5);
}

.carousel-cap-details h1{
    font-size: 65px;
    font-weight: 700;
}
.carousel-cap-details p{
    font-size: 18px;
}

.carousel-cap-details{
    bottom: 200px;
}


/* Course  */

.section-title{
    max-width: 606px;
}

/* Learning */
.leaning-bg{
    background-color: #F4FAFD;
}

.leaning-img{
    padding-left: 0;
}

/* Register section  */

.register-bg{
    background-color: var(--blue);
}

.white-btn{
    background-color: wheat;
    color: var(--blue);
}
.white-btn:hover{
    background-color: rgb(226, 226, 226);
    color: var(--blue);
}

.register-text{
    color: white;
}

/* review section  */

.fa-solid, .fa-regular{
    color: #F59E0B;
    font-size: 16px;
}

.profile h4{
    font-size: 18px;
    font-weight: 600;
}